.header-main{
    background-color: black;
    align-items: center;
}

.content-menu{
    width: 1920px;
    height: 64px;
}

.menu-header {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.menu-header li{
    margin: 10px;
    margin-left: 50px;
    font-size: 17px;
    margin-top: 25px;
}

.menu-header li:first-child a:after{
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    background: #a81d1d;
    border-radius: 100%;
    vertical-align: middle;
    margin-left: 8px;
}

.menu-header a{
    text-decoration: none;
    color: #ffffff;
}

.post-header{
    margin-left: 450px;
    margin-right: 450px;
    padding-top: 40px;
}

.post-title{
    width: 876px;
    height: 109px;
    color: #262626;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
}

.post-excerpt{
    width: 876px;
    height: 48px;
}

.higher-share{
    width: 876px;
    height: 25px;
    margin-left: 450px;
    margin-right: 450px;
}

.post-data{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #4d4d4d;
    font-style: normal;
}