.header-main{
    background-color: black;
    align-items: center;
}

.content-menu{
    width: 1920px;
    height: 64px;
}

.menu-header {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.menu-header li{
    list-style-type: none;
    color: #ffffff;
    text-decoration: underline;
    margin: 16px;
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: 17px;
}

.post-header{
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 30px;
}

.post-title{
    width: 876px;
    height: 109px;
    color: #262626;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
}

.post-excerpt{
    width: 876px;
    height: 48px;
}

.higher-share{
    width: 876px;
    height: 25px;
    margin-left: 500px;
    margin-right: 500px;
}

.post-data{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #4d4d4d;
    font-style: normal;
}